<label for="theme" class="theme">
  <span class="theme__toggle-wrap">
    <input
      id="theme"
      class="theme__toggle"
      type="checkbox"
      role="switch"
      aria-label="Basculer le thème sombre"
      [checked]="theme.theme() === 'dark'"
      (change)="theme.toggleTheme()"
    />
    <span class="theme__icon">
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
      <span class="theme__icon-part"></span>
    </span>
  </span>
</label>
