<aside class="sidebar" [class.open]="isOpen()">
  <div class="sidebar-header">
    <span>Budget Planner</span>
    <button class="close-button" (click)="closeSidebar()">
    <span></span>
    <span></span>
  </button>
  </div>

  <div class="sidebar-content">
    <nav>
      <ul class="sidebar-nav-list">
        @for (item of SIDEBAR_ITEMS; track item.path) {
          <li>
            <a
              class="sidebar-item"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="item.path"
              (click)="closeSidebar()"
            >
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
    </nav>
  </div>

  <div class="footer">
    <app-theme-switch />

    <div class="user">
      Connecté en tant que: <span class="user-name"> {{ user.name }} </span>
    </div>

    <button class="logout-button">Déconnecter</button>
  </div>
</aside>
